@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?p0pfz1');
  src: url('../fonts/icomoon.eot?p0pfz1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?p0pfz1') format('truetype'),
    url('../fonts/icomoon.woff?p0pfz1') format('woff'),
    url('../fonts/icomoon.svg?p0pfz1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adobe:before {
  content: "\e900";
  color: #f00;
}

.icon-airbnb:before {
  content: "\e901";
  color: #ff5a5f;
}

.icon-viber:before {
  content: "\e902";
  color: #665cac;
}

.icon-waze:before {
  content: "\e903";
  color: #333665;
}